Bacup_Cod
Teste_APP.py
meu_codigo.py
INSTALL
APP_Chats_IA.py
Base_Dados.db
Base_Dados.sqbpro
Base_Dados_PreDefinidos.db
Base_Dados_PreDefinidos.sqbpro
_testes_chates_ias.py
version.txt
updater.py
config_update.json
modelo.py
_Criar_Exec.py