dist
build
_Criar_Exec
__pycache__
Banco_Predefinitions.py
Base_Dados_PreDefinidos.db
LICENSE
Stream_IDE.spec
README.md
.git
.gitattributes
.gitignore
.idea
.venv
_Criar_Exec.py
Bacup_Cod
APP_Chats_IA.py
Base_Dados.db
Base_Dados.sqbpro
Base_Dados_PreDefinidos.sqbpro
START_Run_app.py